<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectList">
	SELECT *
		FROM (
		       SELECT ROWNUM RNUM, A.*
		       FROM (
                  SELECT
                          BOARD_NO
                        , NICKNAME
                        , BOARD_TITLE
                        , BOARD_CONTENT
                        , COUNT
                        , TO_CHAR(WRITE_DATE, 'YYYY-MM-DD') "WRITE_DATE"
                     FROM BOARD B
                     JOIN MEMBER USING(MEM_NO)
                    WHERE B.STATUS = 'Y'
                    ORDER
                       BY BOARD_NO DESC
		            ) A
		     )
	WHERE RNUM BETWEEN ? AND ?
	</entry>
	
  <entry key="increaseCount">
  UPDATE BOARD
	   SET COUNT = COUNT + 1
	 WHERE BOARD_NO = ?
	   AND STATUS = 'Y'
  </entry>
  
  <entry key="selectBoard">
  SELECT 
	       BOARD_NO
	     , MEM_NO
	     , NICKNAME
	     , BOARD_TITLE
	     , BOARD_CONTENT
       , COUNT
	     , TO_CHAR(WRITE_DATE, 'YYYY-MM-DD') "WRITE_DATE"
	  FROM BOARD
	  JOIN MEMBER USING(MEM_NO)
	 WHERE BOARD_NO = ?
  </entry>
  
   <entry key="selectAttachment">
 	SELECT
	       FILE_NO
	     , ORIGIN_NAME
	     , CHANGE_NAME
	     , FILE_PATH
	  FROM ATTACHMENT
	 WHERE WRITE_NO = ?
  </entry>
  
  <entry key="insertBoard">
	INSERT 
	  INTO BOARD
	     (
	       BOARD_NO
       , MEM_NO
	     , BOARD_TITLE
	     , BOARD_CONTENT
	     )
	VALUES
	     (
	       SEQ_BOARD_NO.NEXTVAL
       , ?
	     , ?
	     , ?
	     )
  </entry>
  
  <entry key="insertAttachment">
  INSERT
	  INTO ATTACHMENT
	     (
	       FILE_NO
	     , WRITE_NO
	     , ORIGIN_NAME
	     , CHANGE_NAME
	     , FILE_PATH
	     )
	VALUES
	     (
	       SEQ_FILE_NO.NEXTVAL
	     , SEQ_BOARD_NO.CURRVAL
	     , ?
	     , ?
	     , ?
	     )
  </entry>
  
  <entry key="deleteBoard">
	UPDATE BOARD
	   SET STATUS = 'N'
	 WHERE BOARD_NO = ?
  </entry>
  
  <entry key="deleteAttachment">
  UPDATE ATTACHMENT
	   SET STATUS = 'N'
	 WHERE WRITE_NO = ?
  </entry>
  
  <entry key="updateBoard">
  UPDATE BOARD
	   SET BOARD_TITLE = ?
	     , BOARD_CONTENT = ?
	 WHERE BOARD_NO = ?
  </entry>
  
  <entry key="updateAttachment">
  UPDATE ATTACHMENT
     SET ORIGIN_NAME = ?
       , CHANGE_NAME = ?
       , FILE_PATH = ?
   WHERE FILE_NO = ?
  </entry>
  
  <entry key="insertNewAttachment">
  INSERT
	  INTO ATTACHMENT
	     (
	       FILE_NO
	     , WRITE_NO
	     , ORIGIN_NAME
	     , CHANGE_NAME
	     , FILE_PATH
	     )
	VALUES
	     (
	       SEQ_FILE_NO.NEXTVAL
	     , ?
	     , ?
	     , ?
	     , ?
	     )
  </entry>
  
 	<entry key="selectListCount">
	SELECT 
	       COUNT(*) COUNT
	  FROM BOARD
	 WHERE STATUS = 'Y'
	</entry>
	
	<entry key="insertReply">
  INSERT
	  INTO BOARD_ANSWER
	  (
	    B_ANSWER_NO
      , MEM_NO
      , BOARD_NO
	 		, ANSWER_CONTENT
	  )
	VALUES
		(
		   SEQ_B_ANSWER_NO.NEXTVAL
		 , ?
		 , ?
		 , ?
		 )
  </entry>
  
 	<entry key="selectReplyList">
  SELECT
	       B_ANSWER_NO
	     , MEM_NO
	     , ANSWER_CONTENT
	     , NICKNAME
	     , TO_CHAR(ANSWER_DATE, 'YY/MM/DD HH:MI') "ANSWER_DATE"
	  FROM BOARD_ANSWER BA
	  JOIN MEMBER USING(MEM_NO)
	 WHERE BA.STATUS = 'Y'
	   AND BOARD_NO = ?
	 ORDER
	    BY B_ANSWER_NO DESC
  </entry>
  
  <entry key="boardAnswerCount">
  SELECT COUNT(*) "COUNT"
	  FROM BOARD_ANSWER
	 WHERE BOARD_NO = ?
	   AND STATUS = 'Y'
  </entry>
  
  <entry key="deleteBoardAnswer">
  UPDATE BOARD_ANSWER
	   SET STATUS = 'N'
	 WHERE B_ANSWER_NO = ?
  </entry>
  
  <entry key="updateBoardAnswer">
  UPDATE BOARD_ANSWER
	   SET ANSWER_CONTENT = ?
	 WHERE B_ANSWER_NO = ?
  </entry>
  
  <entry key="insertFollow">
  INSERT 
	  INTO FOLLOW
	VALUES
	     (
	       ?
	     , ?
	     )
  </entry>
  
  <entry key="selectFollow">
  SELECT
	       FOLLOWER_ID
	     , FOLLOWING_ID
	  FROM FOLLOW
  </entry>
  
  <entry key="deleteFollow">
	DELETE
	  FROM FOLLOW
	 WHERE FOLLOWER_ID = ?
	   AND FOLLOWING_ID = ?
  </entry>
</properties>